{% extends "base.html" %}
{% block title %}
{{ super() }}
Modulo comunicacion
{% endblock title %}
{% block content %}
{% if message %}
<div class="card-body btn-info">
  <p class="text-center text-light">{{ message }}</p>
</div>
{% endif %}
<div class="card text-center">
    <div class="artist_profile">
        <i class="bi bi-person icono_grande"></i>
        <h1 class="user_name">
            {{artist[0][1]}}
        </h1>
    </div>
    <ul class="social">
        <li>
            <a href="https://www.facebook.com"><i class="bi bi-facebook"></i> Facebook</a>
        </li>
        <li>
            <a href="https://twitter.com/"><i class="bi bi-twitter"></i> Twitter</a>
        </li>
        <li>
            <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i> instagram</a>
        </li>
        <li>
            <a><i class="bi bi-mailbox"></i> {{artist[0][2]}}</a>
        </li>
        <li>
            <a><i class="bi bi-phone"></i> {{artist[0][3]}}</a>
        </li>
    </ul>
    <div class="about">
        <h3>
            ACERCA DE
        </h3>
        <p class="text-muted text-justify">
            Es un reconocido artista de Colombia, enfocado en el arte desde hace mucho tiempo.
        </p>
    </div>
    <div class="back_correo">
        <h1 class="user_name">Contactate con el Artista</h1>
        <form class="form" action="/sendMessage" method="POST">  
            <input class="input-correo" id="subject" type="text" name="subject" placeholder="Asunto"> 
            <input class="input-correo" id="artist" type="hidden" name="artist"value="{{artist[0][1]}}">        
            <input class="input-correo" id="sender" type="text" name="sender" placeholder="{{user[0][2]}}" value="{{user[0][2]}}" > 
            <input class="input-correo" id="receiver" type="text" name="receiver" placeholder="{{artist[0][2]}}" value="{{artist[0][2]}}" >
            <textarea class="textarea" id="message" name="message" placeholder="Escribe el mensaje ..."></textarea>
            <input class="input-correo" id="bt_correo"  type="submit" value="ENVIAR" >
        </form>

    </div>
</div>
{% endblock content%}