{% extends "base.html" %}
{% block title %}
{{ super() }}
Tabla obras de arte
{% endblock title %}
{% block content %}
{% if message %}
<div class="card-body btn-info">
  <p class="text-center text-light">{{ message }}</p>
</div>
{% endif %}
<div class="card text-center">
    <div class="artist_profile">
        <img 
            class="avatar"
            src ="static/images/user/52233.jpg"
         />
        <h1 class="user_name">
            Nombre del Artista
        </h1>
    </div>
    <ul class="social">
        <li>
            <img 
            class="icon"
            src ="static/images/user/facebook.png"
            />
            <a href="https://www.facebook.com">Facebook</a>
        </li>
        <li>
            <img 
            class="icon"
            src ="static/images/user/twitter.png"
            />
            <a href="https://twitter.com/">Twitter</a>
        </li>
        <li>
            <img 
            class="icon"
            src ="static/images/user/instagram.png"
            />
            <a href="https://www.instagram.com/">instagram</a>
        </li>
    </ul>
    <div class="about">
        <h3>
            ACERCA DE
            
        </h3>
        <p class="text-muted text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, recusandae. Illum accusantium tenetur quaerat iure quis doloribus aliquam, aspernatur sequi inventore id commodi doloremque eaque. Doloremque tenetur sed dicta ipsam?
        </p>
    </div>

    <div class="back_correo">
        <h1 class="user_name">Contactate con el Artista</h1>
        <form class="form" action="">            
            <input class="input-correo" id="correo" type="text" name="correo" placeholder="Correo">
            <input class="input-correo" id="subject" type="text" name="asunto" placeholder="Asunto">
            <textarea class="textarea" id="message_to_artist" name="mensajecorreo" placeholder="Escribe el mensaje ..."></textarea>
            <input class="input-correo" id="bt_send_message"  type="button" value="ENVIAR" id="botoncorreo">
        </form>

    </div>
    <h4 class="text-center text-uppercase">Obras de arte registrados en el sistema</h4>
    <table class="table table-bordered text-center">
        <thead class="thead-dark text-center">
            <tr>
                <th class ="text-center"> Id artista </th>
                <th class ="text-center"> Nombres </th>
                <th class ="text-center"> Apellidos </th>
                <th class ="text-center"> Email </th>
                <th class ="text-center"> Telefono </th>
            </tr>
        </thead>
        <tbody>
            {% if data %}
                {% for dato in data %}
                <tr>
                    {% for value in dato %}
                        <td>{{ value }}</td>                                                                            
                    {% endfor %}
                </tr
                {% endfor %}>
            {% else %}
                <h3>No se encontraron artistas</h3>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content%}