{% extends "base.html" %}
{% block title %}
{{ super() }}
Bienvenido
{% endblock title %}
{% block content %}
{% if message %}
<div class="card-body btn-info">
  <p class="text-center text-light">{{ message }}</p>
</div>
{% endif %}
<div class="card text-center">
    <div class="card-header">
      <h1 class="text-uppercase"><b>Galeria virtual: Doctorado en estudios art&iacute;sticos UDFJC</b></h1>
      <i>visualiza las distintas obras publicadas por nuestros artistas</i>
    </div>
    

{% endblock content%}