<nav class="navbar mainNavbar justify-content-between">
    <a href="./" class="btn main text-uppercase"><i class="bi bi-house""></i></a>
    <p class="navbar-brand navText"> <b>ExpoArt: Tu galeria virtual UD</b></p>
    <picture class="">
        <source srcset="" type="image/svg+xml">
        <a href="http://dea.udistrital.edu.co:8080/inicio" target="_blank">
            <img src="https://yt3.ggpht.com/ytc/AMLnZu-AehzwrbZzQbPfNNE1dYpfXKu6kNbyas5zFhrpag=s900-c-k-c0x00ffffff-no-rj" class="img-fluid img-thumbnail" width="100" height="100">
        </a>        
    </picture>
    <li class="navbar-brand nav-item dropdown">
        <a class="nav-link dropdown-toggle mainToogle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-file-person"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="./"><i class="bi bi-arrow-right-square-fill"> iniciar sesion</i></a>
            <a class="dropdown-item" href="/crud"><i class="bi bi-table"> CRUD</i></a>
        </div>
    </li>
</nav>