{% extends 'base_error.html' %}
{% block title %}
    {{ super() }}
    Modulo Divulgación
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>En expoArt lo sentimos !</h1>
                <h2>El componente de Divulgación no se encuentra disponible</h2>
                <hr>
                <p>Por favor comuniquese con el administrador.</p>
            </div>
        </div>
    </div>
{% endblock %}